<!DOCTYPE html>
<html>
<head>
    <title>Coffee Rating Application</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Coffee Rating Application ☕</h1>

    <div class="container">

        {% for coffee in coffees %}
        <div class="card">

            <h2>{{ coffee[1] }}</h2>

            <p>Votes: {{ coffee[2] }}</p>

            <a href="/vote/{{ coffee[0] }}">
                <button>+ Vote</button>
            </a>

        </div>
        {% endfor %}

    </div>

</body>
</html>